body {
  background-color:rgb(47, 37, 120); 
}

#earth {
  height: 500px;
  width: 1500px;
  position: absolute;
  margin-left: 200px;
  margin-top: -70px;
}

ul {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 920px;
  margin-right: 980px;
  color:white;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu-item {
  color: white;
  position:relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

#codi {
  position: relative;
  margin-left: 1250px;
  margin-top: 200px;
  color: white;
}

#codi-image {
  height: 100px;
  width: 100px;
}

#main-menu {
  width: 200px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 560px;
  margin-top: 100px;
}

#nav-bar {
  list-style: none;
  position: relative;
  margin-top: 450px;
  margin-left: 750px;
  background-color: rgb(27, 21, 72);
}
.nav {
  margin-left: 200px;
  width: 300px;
}